<template>
    <aside class="task-widget__filter">
    <button type="button" class="task-widget__header-add"
      v-on:click="openPopup"
    >
          <img class="task-widget__plus" src="/files/icons/icon-plus.svg" alt="icon-plus">
          <span>добавить</span>
    </button>
      <form action="" class="task-widget__form" method="GET">
        <h2 class="task-widget__form-title">Фильтры</h2>
        <div class="task-widget__form-block">
          <h3 class="task-widget__form-subtitle">Номер накладной</h3>
          <input
            type="text"
            class="task-widget__form-input"
            placeholder="Введите значение"
            value="12"
            v-on:keyup.enter="openPopup"
            v-model="newNoteOpptions.number"
          />
        </div>
      </form>
    </aside>
</template>

<script>
import { mapMutations, mapState } from 'vuex';

export default {
  data() {
    return {
      activeTypeList: false,
      typeList: [
        { id: 0, type: 'RUED' },
        { id: 1, type: 'RUEX' },
        { id: 2, type: 'RUSG' },
      ],
    };
  },
  computed: {
    ...mapState(['newNoteOpptions']),
  },
  mounted() {
    this.$store.state.newNoteOpptions.type = this.typeList[0].type;
  },
  methods: {
    ...mapMutations(['TOGLE_POPUP']),
    openPopup() {
      this.TOGLE_POPUP();
    },
    toggleTypeList() {
      this.activeTypeList = !this.activeTypeList;
    },
    moveType(typeItem) {
      if (!this.activeTypeList) return;
      const type = this.typeList.filter((item) => item === typeItem);
      this.typeList = this.typeList.filter((item) => item !== typeItem);

      this.typeList.unshift(...type);
      this.$store.state.newNoteOpptions.type = this.typeList[0].type;
    },
  },
};
</script>
