<template>
    <div class="task-widget__body-header">
        <div class="task-widget__header-wrapper">
            <ul class="task-widget__header-sorting"
                v-bind:class="{active: activeTypeList}"
                v-on:click="toggleTypeList"
            >
                <li class="header-sorting__li">Сортировать</li>
                <li class="header-sorting__li"
                    v-for="filter in sortOptions"
                    v-bind:key="filter.id"
                    v-on:click="sort(filter.id)"
                >
                    Сортировать по {{filter.property}} :{{filter.direction}}
                </li>
            <span class="arrow-bottom"
              style="background-image: url('./files/icons/icon_arrow.svg');">
            </span>
            </ul>
            <label for="drag-drop" class="task-widget__drag-drop">
                <input type="checkbox" id="drag-drop"
                  v-on:change="toggleDrag" ref="dragStatus"
                >
                <span class="fake-checkbox">
                  <img src="./icon_checkbox.svg" alt="icon_checkbox">
                </span>
                <span>Включить перетаскивание</span>
            </label>
        </div>
    </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex';

export default {
  data() {
    return {
      activeTypeList: false,
    };
  },
  computed: {
    ...mapState(['sortOptions']),
  },
  mounted() {
    const dragStatus = this.$refs.dragStatus.checked;
    this.TOGGLE_DRAG(dragStatus);
  },
  methods: {
    ...mapMutations(['SORT_CARD', 'TOGGLE_DRAG']),
    toggleTypeList() {
      this.activeTypeList = !this.activeTypeList;
    },
    sort(id) {
      this.SORT_CARD(id);
    },
    toggleDrag() {
      const dragStatus = this.$refs.dragStatus.checked;
      this.TOGGLE_DRAG(dragStatus);
    },
  },
};

</script>
