<template>
  <td class="task-widget__list-option">
    <div>
      <ul class="task-widget__item-options table"
        v-bind:class="{reduct: item.redactMode, active: true}"
      >
        <div class="task-widget__options-icon"
          @mouseover="toggleRowHover(true)"
        >
          <img class="icon-menu" src="files/icons/menu-table.svg" alt="icon-menu">
        </div>
        <div v-if="rowHovered">
          <ul class="task-widget__item-list table">
              <li v-on:click="redactItem(item.id)">
                <span class="icon">
                  <img src="files/icons/edit-table.svg" alt="icon-edit">
                </span>
                <span class="description"></span>
              </li>
              <li v-on:click="deleteCard(item.id)">
                <span class="icon">
                <img src="files/icons/trash-table.svg" alt="icon-delete">
                </span>
                <span class="description"></span>
              </li>
          </ul>
        </div>
      </ul>
    </div>
  </td>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  name: 'TableCustomCellActions',

  props: {
    item: {
      type: Object,
      default() {
        return {};
      },
    },
    rowHovered: {
      type: Boolean,
      default: false,
    },
    toggleRowHover: {
      type: Function,
      default: () => null,
    },
  },
  computed: {
  },
  methods: {
    ...mapMutations(['REDACT_MODE', 'REMOVE_CARD']),
    redactItem(id) {
      this.REDACT_MODE(id);
    },
    deleteCard(id) {
      this.REMOVE_CARD(id);
    },
  },
};
</script>
