<template>
    <div class="task-widget__form-popup-overlay"
      v-bind:class="{active: popupStatus}"
      v-on:click="openPopup"
    >
        <form class="task-widget__form-popup"
          v-on:click.stop
        >
          <h2 class="task-widget__form-title">Добавление</h2>
          <div class="task-widget__form-block">
            <h3 class="task-widget__form-subtitle">Время прибытия на выгрузку</h3>
            <div class="task-widget__form-date">
              <label for="">
                <span>c</span>
                <span class="task-widget__date-wrapper">
                  <input
                    type="text"
                    class="task-widget__form-input"
                    maxlength="10"
                    v-model="newNoteOpptions.from"
                  />
                  <img src="/files/icons/calendar.svg" alt="icon-calendar">
                </span>
              </label>
              <label for="">
                <span>по</span>
                <span class="task-widget__date-wrapper">
                  <input
                    type="text"
                    class="task-widget__form-input"
                    maxlength="10"
                    v-model="newNoteOpptions.to"
                  />
                  <img src="/files/icons/calendar.svg" alt="icon-calendar">
                </span>
              </label>
            </div>
          </div>
          <div class="task-widget__form-block">
            <h3 class="task-widget__form-subtitle">Тип заказа</h3>
            <ul class="task-widget__header-sorting"
              v-bind:class="{active: activeTypeList}"
              v-on:click="toggleTypeList"
            >
              <cardCreatorType
                v-for="typeItem in typeList"
                :option="typeItem"
                :key="typeItem.id"
                v-on:moveup="moveType(typeItem)"
              />
              <span
                class="arrow-bottom"
                style="background-image: url('../../files/icons/icon_arrow.svg');"
              ></span>
            </ul>
          </div>
          <button class="task-widget__header-add"
            v-on:click="addCard"
          >
            cохранить
          </button>
        </form>
    </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex';
import cardCreatorType from './cardCreatorType.vue';

export default ({
  components: { cardCreatorType },
  data() {
    return {
      activeTypeList: false,
      typeList: [
        { id: 0, type: 'RUED' },
        { id: 1, type: 'RUEX' },
        { id: 2, type: 'RUSG' },
      ],
    };
  },
  computed: {
    ...mapState(['newNoteOpptions', 'popupStatus']),
  },
  mounted() {
    this.newNoteOpptions.type = this.typeList[0].type;
  },
  methods: {
    ...mapMutations(['ADD_CARD', 'TOGLE_POPUP']),
    addCard() {
      this.openPopup();
      this.ADD_CARD();
    },
    openPopup() {
      this.TOGLE_POPUP();
    },
    toggleTypeList() {
      this.activeTypeList = !this.activeTypeList;
    },
    moveType(typeItem) {
      if (!this.activeTypeList) return;
      const type = this.typeList.filter((item) => item === typeItem);
      this.typeList = this.typeList.filter((item) => item !== typeItem);

      this.typeList.unshift(...type);
      this.newNoteOpptions.type = this.typeList[0].type;
    },
  },
});
</script>
