<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <header class="header">
      <div class="container">
          <div class="header-title__wrapper">
              <h1 class="header-title">Тестовое задание</h1>
          </div>
          <div class="header-logo_wrapper">
              <img src="./files/img/_header/_header-logo.svg" alt="header-logo" class="header-logo">
          </div>
      </div>
  </header>
  <main class="main">
    <div id="app"></div>
  </main>
  <footer class="footer"> </footer>
    <!-- built files will be auto injected -->
  </body>
</html>
