<template>
    <li class="task-widget__item" :draggable="item.drag"
        v-on:dragstart="onDragStart($event, item.id)"
        @dragover="onDragOver($event)"
        @drop="onDrop($event, item.id)"
    >
        <div>
            <div class="task-widget__item-head" >
                <h4 class="task-widget__item-title">Накладная №
                    <input type="text"
                      v-model="item.number"
                      v-on:keyup.enter="redactItem(item.id)">
                </h4>

                <div class="task-widget__item-wrapper">
                    <ul class="task-widget__item-move active">
                    <li class="item-static"><img src="files/icons/move.png" alt="icon_static"></li>
                        <li class="item-move"><img src="files/icons/move.png" alt="icon_move"></li>
                    </ul>
                    <ul class="task-widget__item-options">
                        <div class="task-widget__options-icon">
                            <img class="icon-menu" src="files/icons/menu.png" alt="icon-menu">
                        </div>
                        <ul class="task-widget__item-list">
                            <li v-on:click="redactItem(item.id)">
                    <span class="icon"><img src="files/icons/edit.png" alt="icon-edit"></span>
                                <span class="description">Редактировать</span>
                            </li>
                            <li
                                v-on:click="deleteCard(item.id)"
                            >
                    <span class="icon"><img src="files/icons/close.png" alt="icon-delete"></span>
                                <span class="description">Удалить</span>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>

            <ul class="task-widget__item-body">
                <li>{{item.id}}</li>
                <li>{{item.date}}</li>
                <li><input type="text"
                      v-model="item.type"
                      v-on:keyup.enter="redactItem(item.id)">
                </li>
                <li><input type="text"
                      v-model="item.from"
                      v-on:keyup.enter="redactItem(item.id)">
                </li>
                <li>
                  <input type="text"
                    v-model="item.to"
                    v-on:keyup.enter="redactItem(item.id)">
                </li>
            </ul>
        </div>
    </li>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  props: ['item'],
  methods: {
    ...mapMutations(['REDACT_MODE', 'REMOVE_CARD', 'DRAG_CARD']),
    redactItem(id) {
      this.REDACT_MODE(id);
    },
    deleteCard(id) {
      this.REMOVE_CARD(id);
    },
    onDragStart(event, id) {
      event.dataTransfer.setData('text/plain', id);
    },
    onDragOver(event) {
      event.preventDefault();
    },
    onDrop(event, id) {
      const movedElementId = event.dataTransfer.getData('text/plain');
      const beforePasteElement = id;
      this.DRAG_CARD([movedElementId, beforePasteElement]);
    },
  },
};
</script>
