<template>
  <ul class="task-widget__body-list">
      <template v-for="note in notes">
        <CardItem v-if="!note.redactMode" :item="note" :key="note.id"/>
        <CardItemRedacted v-else :item="note" :key="note.id"/>
      </template>
  </ul>
</template>

<script>
import { mapState } from 'vuex';
import CardItem from './note/card-item/cardItem.vue';
import CardItemRedacted from './note/card-item/cardItemRedacted.vue';

export default {
  name: 'note',
  components: {
    CardItem,
    CardItemRedacted,
  },
  computed: {
    ...mapState(['notes']),
  },
};
</script>

<style lang="scss">
  @import "../scss/main.scss";
</style>
