<template>
    <a-table
      :headers="headers"
      :items="notes"
    ></a-table>
</template>

<script>
import { mapState } from 'vuex';
import ATable from './Atable/ATable.vue';
import TableCustomCellActions from '../../stubs/components/TableCustomCellActions.vue';

export default {
  name: 'Table',
  components: {
    ATable,
  },
  data() {
    return {
      headers: [
        {
          key: 'id',
          title: 'ID',
          headerAlign: 'id',
        },
        {
          key: 'number',
          title: 'Номер',
        },
        {
          key: 'type',
          title: 'Тип',
        },
        {
          key: 'date',
          title: 'Дата создания',
        },
        {
          key: 'actions',
          title: '',
          headerAlign: 'options',
          useComponent: TableCustomCellActions,
        },
      ],
    };
  },
  computed: {
    ...mapState(['notes']),
  },
};
</script>

<style lang="scss">
  * {
      box-sizing: border-box;
  }
  .task-widget__body-list-table, .a-table {
      width: 100%;
      margin: 0 auto;
      border-collapse: collapse;
  }
  .task-widget__list-head, .a-header {
      width: 100%;
      background: #FFFFFF;
      th {
          padding: 10px 0;
          background: #cecece;
          border-collapse: collapse;
          border-right: 2px solid #FFFFFF;
      }
      th:last-of-type {
          border-right: none;
      }
  }
  .task-widget__list-id, .text-id {
    width: 20%;
  }
  .task-widget__list-option, .text-options {
    width: 10%;
  }
  .task-widget__item-table, .a-table-row {
      padding: 0;
      width: 100%;
      background: #FFFFFF;
      border-bottom: 1px solid #E6E6E6;
      td {
          padding: 9px 0;
          input {
            width: 10vw;
          }
      }
  }
  .task-widget__item-options.table {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 6px 4px;

    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 3px;
    &.active {
      border: 1px solid #F2F2F2;
    }
    .task-widget__options-icon {
      padding: 0 4px;
    }
    .icon-menu {
      height: 15px;
    }
  }
  .task-widget__item-options .task-widget__item-list.table {
    position: relative;
    display: none;
    align-items: center;
    flex-direction: row-reverse;
    right: initial;
    top: initial;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
      li{
        padding: 5px;
        margin: 0;
        border-radius: 10px;
        filter: opacity(0.7);
        &:hover {
          background: #E5E9EC;
        }
        .icon {
          margin: 0;
        }
      }
  }
  .task-widget__item-options.table.reduct .task-widget__item-list.table li {
        filter: none;
  }
  .task-widget__item-options.active .task-widget__item-list.table {
    display: flex;
  }
</style>
