<template>
    <div id="nav">
      <router-link to="/">
        <img src="files/icons/card_view_icon.svg" alt="card-view-icon">
      </router-link>
      <router-link to="/table">
        <img src="files/icons/table_view_icon.svg" alt="table-view-icon">
      </router-link>
    </div>
</template>

<style scoped lang="scss">
#nav {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: fit-content;

  background: #E5E9EC;
  border: 1.5px solid #647A8C;
  border-radius: 4px;
  overflow: hidden;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    font-weight: bold;
    color: #8c92ec;
    text-decoration: none;
    transition: 0.2s;
    background-color: rgb(98 83 99 / 5%);
    border-right: 1.5px solid #647A8C;

    &.router-link-exact-active {
      color: #FFF;
      background-color: #FFF;
      backdrop-filter: blur(15px);
    }
  }
  & a:last-of-type {
    border-right: none;
  }
}
</style>
