.task-widget__item {
    margin: 0 5px 20px 0;
    width: 20vw;
    min-width: 220px;
    max-width: 450px;

    background: #F6FAFB;
    box-shadow: 0px 4px 12px #EBEBEB;
    border-radius: 3px;
    cursor: grab;
}

.task-widget__item-head {
    padding: 12px 12px 12px 20px;
    display: flex;
    justify-content: space-between;

    background: rgba(237, 232, 245, 0.5);
}

.task-widget__item-title {
    position: relative;
    max-width: 70%;
    & input {
        max-width: 100%;
    }
}

.task-widget__item-wrapper {
    display: flex;
}

.task-widget__item-table .task-widget__item-wrapper {
    display: flex;
    justify-content: center;
}

.task-widget__item-move {
    cursor: pointer;
    & img {
        max-width: 20px;
        width: 20px;
        max-height: 20px;
        height: 20px;
    }

    & .item-static {
        display: block;
    }

    & .item-move {
        display: none;
    }

    &.active .item-static {
        display: none;
    }

    &.active .item-move {
        display: block;
    }
}

.task-widget__item-options {
    position: relative;
    padding: 0 0 0 10px;
    cursor: pointer;
}

.task-widget__item-table .task-widget__item-options {
    padding: 0;
}

.task-widget__options-icon {

}

.task-widget__options-icon img {
    max-width: 7.5px;
    max-height: 20px;
    height: 20px;
}

.task-widget__item-options .task-widget__item-list {
    display: none;
}

.task-widget__item-options.active .task-widget__item-list{
    position: absolute;
    display: block;
    padding: 2px 17px 2px 10px;
    top: 100%;
    right: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(182, 182, 182, 0.25);
    border-radius: 2px;
}


.task-widget__item-options:hover .task-widget__item-list{
    position: absolute;
    display: block;
    padding: 2px 17px 2px 10px;
    top: 100%;
    right: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(182, 182, 182, 0.25);
    border-radius: 2px;
}

.task-widget__item-list li {
    display: flex;
    margin: 5px;
}

.task-widget__item-list li .icon {
    margin-right: 10px;
    max-width: 13px;
    max-height: 13px;
}

.task-widget__item-list li .description {

}

.task-widget__item-body {
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px 20px;
}

.task-widget__item-body li {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2em;
    border-bottom: 1px solid #F2F2F2;
    background-color: #F6FAFB;
    & input {
        max-width: 100%;
    }
}