<template>
  <tr
    class="a-table-row-wide"
    @mouseover="addExtRowHoverClass"
    @mouseleave="removeExtRowHoverClass"
  >
    <td :colspan="headers.length" class="no-info">
      <component
        :is="component"
        :item="item"
      ></component>
    </td>
  </tr>
</template>

<script>

export default {
  name: 'ATableWideRow',

  props: {
    component: {
      type: Object,
      default() {
        return null;
      },
    },
    item: {
      type: Object,
      default() {
        return {};
      },
    },
    headers: {
      type: Array,
      default() {
        return [];
      },
    },
  },

  methods: {
    addExtRowHoverClass() {
      this.$parent.$refs[`${this.item.id}-row`][0].$el.classList.add('hovered-ext');
    },
    removeExtRowHoverClass() {
      this.$parent.$refs[`${this.item.id}-row`][0].$el.classList.remove('hovered-ext');
    },
  },
};
</script>
