<template>
  <tr
    :class="['a-table-row', {'hovered': hovered}]"
    @click.stop="actionClick(item)"
    @mouseleave="toggleRowHover(false)"
    :draggable="item.drag"
    @dragstart="onDragStart($event, item.id)"
    @dragover="onDragOver($event)"
    @drop="onDrop($event, item.id)"
  >
    <a-table-td
      :key="header.id"
      :header="header"
      :item="item"
      :rowHovered="hovered"
      :toggleRowHover="toggleRowHover"
      v-for="header in headers"
    ></a-table-td>
  </tr>
</template>

<script>
import { mapMutations } from 'vuex';
import ATableTd from './ATableTd.vue';

export default {
  name: 'ATableRow',

  components: {
    ATableTd,
  },

  props: {
    item: {
      type: Object,
      default() {
        return {};
      },
    },
    headers: {
      type: Array,
      default() {
        return [];
      },
    },
    actionClick: {
      type: Function,
      default() {
        return null;
      },
    },
  },

  data() {
    return {
      hovered: false,
    };
  },

  methods: {
    ...mapMutations(['DRAG_CARD']),
    toggleRowHover(flag) {
      this.hovered = flag || false;
    },
    onDragStart(event, id) {
      event.dataTransfer.setData('text/plain', id);
    },
    onDragOver(event) {
      event.preventDefault();
    },
    onDrop(event, id) {
      const movedElementId = event.dataTransfer.getData('text/plain');
      const beforePasteElement = id;
      this.DRAG_CARD([movedElementId, beforePasteElement]);
    },
  },
};
</script>
