<template>
  <div id="app">
      <section class="task-widget">
        <div class="container">
            <div class="row">
                <CardCreatorOption/>
                <div class="task-widget__body">
                    <div class="task-widget__body-wrapper">
                      <FilterOptions/>
                      <ViewToggle/>
                    </div>
                    <ul class="task-widget__body-list">
                        <router-view/>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <PopupOptions/>
  </div>
</template>

<script>
import CardCreatorOption from './components/note/card_creator/cardCreatorOption.vue';
import PopupOptions from './components/note/popup/popupOptions.vue';
import FilterOptions from './components/note/filter-options/filterOptions.vue';
import ViewToggle from './components/vievToggle.vue';

export default ({
  components: {
    CardCreatorOption, PopupOptions, FilterOptions, ViewToggle,
  },
});
</script>

<style lang="scss">
#app {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.task-widget__body-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px 0;
}
</style>
