@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto'),
        url('../files/fonts/Roboto/Roboto-Bold.ttf'),
        url('../files/fonts/Roboto/Roboto-Bold.eot') format('embedded-opentype'),
        url('../files/fonts/Roboto/Roboto-Bold.woff') format('woff'),
        url('../files/fonts/Roboto/Roboto-Bold.otf') format('opentype'),
        url('../files/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Medium'),
        url('../files/fonts/Roboto/Roboto-Medium.ttf'),
        url('../files/fonts/Roboto/Roboto-Medium.eot') format('embedded-opentype'),
        url('../files/fonts/Roboto/Roboto-Medium.woff') format('woff'),
        url('../files/fonts/Roboto/Roboto-Medium.otf') format('opentype'),
        url('../files/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
} 
@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Regular'),
        url('../files/fonts/Roboto/Roboto-Regular.ttf'),
        url('../files/fonts/Roboto/Roboto-Regular.eot') format('embedded-opentype'),
        url('../files/fonts/Roboto/Roboto-Regular.woff') format('woff'),
        url('../files/fonts/Roboto/Roboto-Regular.otf') format('opentype'),
        url('../files/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
} 