.task-widget__popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    z-index: -10;
    transition: 0.4s;
    &.active {
        z-index: 10;
        opacity: 1;
    }
}

.task-widget__popup-form {
 
}

.task-widget__popup-message {
    position: fixed;
    top:50%;
    left: 50%;

    background-color: #FFF;
    transform: translate(-50%,-50%);
    & h4 {
        padding: 20px;
        text-align: center;
    }
}