//display size
$pc-big: 1440px;
$pc: 1200px;
$tablet: 991px;
$small_tablet: 767px;
$phone: 575px;

@mixin lightColor {
    color: #FFF;
}

@mixin darkColor {
    color: #2B2839;
}

@mixin midleColor {
    color: #A5A5A5;
}

@mixin backgroundColorMain {
    background: linear-gradient(267.21deg, #900793 0.16%, rgba(134, 4, 137, 0.785707) 0.16%,
    rgba(159, 12, 162, 0.762269) 0.16%, rgba(5, 1, 190, 0.734375) 98.91%, 
    rgba(0, 28, 126, 0.619792) 100.15%, rgba(6, 77, 142, 0.447917) 102.03%,
     rgba(1, 0, 60, 0) 102.73%);
}

@mixin widgetFormElement {
    padding: 7px 10px 7px 10px;
    width: 100%;

    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
}

@mixin transitionBase {
    transition: 0.1s all;
}